.App {
  text-align: center;
  display: flex;
  padding: 40px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.time-list {
  padding: 16px;
}

.time-slot {
  padding: 0 10px !important;
}
